* {
  box-sizing: border-box;
}

body {
  padding: 56px;
}

img {
  height: 200px;
}

.school-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.school-header-buttons {
  flex-grow: 4;
  justify-content: flex-start;
}

.school-header-logo {
  flex-grow: 1;
  justify-content: flex-end;
}

.campus-list li {
  display: inline-block;
}

.search-campus-header {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.search-campus {
  justify-content: flex-end;
  padding-right: 80px;

}

.add-campus{
  padding-left: 15px;
}

.add-student{
  padding-left: 15px;
}

 li {
    list-style-type: none;
}
