* {
  box-sizing: border-box;
}

body {
  padding: 56px;
}


img {
  height: 200px;
}

.school-header {
  /* display: flex; */
   justify-content:center;
   align-items: flex-end;
}

.campus-list li {
  display: inline;
}

/* .campus-item {
  display: block;
} */

 li {
    list-style-type: none;
}
